.input{
    background-color: #D9D9D9;
    width: 85%;
    height: 40px;
    margin-top: 25px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.lupa{
    position: absolute;
    z-index: 2;
    margin-top: 25px;
    margin-left: 65%;
}