.backBlack{
    width: 100%;
    overflow: hidden;
}
.headerCircle{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    border-radius: 0% 0% 100% 100%;
    position: relative;
    width: 100%;

}
.options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-inline: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.title{
    color: #fff;
    font-size: 1.4em;
}